
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <!-- Bootstrap -->    
    <link href="~/admin-side/template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/admin-side/template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/admin-side/template/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/admin-side/template/vendors/animate.css/animate.min.css" rel="stylesheet" />

    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    
    <!-- Custom Theme Style -->
    <link href="~/admin-side/template/build/css/custom.min.css" rel="stylesheet" />

</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="frmLogin">
                        @Html.AntiForgeryToken()
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" name="txtUserName" placeholder="Username" id="txtUserName" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="txtPassword" placeholder="Password" id="txtPassword" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="#" id="btnLogin">Log in</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>

    <script src="~/admin-side/template/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="~/app/homecare.js"></script>    
    <script src="~/admin-side/controller/login/index.js"></script>
    <script>
        loginController.login();
    </script>

</body>
</html>