<div id="modalBillDetail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bill Detail</h4>
            </div>
            <div class="modal-body">
                <div id="billdetail-form">
                    <form class="form-horizontal" role="form" id="frmBillDetail">
                        <div class="form-group">
                            <input type="hidden" id="BillId" value="0" />
                            <label for="txtWorkplace" class="col-sm-3 control-label no-padding-right">Workplace</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtWorkplace" class="form-control" id="txtWorkplace">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtApartmentnumber" class="col-sm-3 control-label no-padding-right">Apartmentnumber</label>
                            <div class="col-sm-9">
                                <input type="text" id="txtApartmentnumber" class="form-control" name="txtApartmentnumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtWorkday" class="col-sm-3 control-label no-padding-right">Workday</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtWorkday" class="form-control" id="txtWorkday">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtStarttime" class="col-sm-3 control-label no-padding-right">Starttime</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtStarttime" class="form-control" id="txtStarttime">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtBillOptions" class="col-sm-3 control-label no-padding-right">Option</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtBillOptions" class="form-control" id="txtBillOptions">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" class="col-sm-3 control-label no-padding-right">Description</label>
                            <div class="col-sm-9">
                                <textarea rows="3" name="txtDescription" class="form-control" id="txtDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerName" class="col-sm-3 control-label no-padding-right">CustomerName</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtCustomerName" class="form-control" id="txtCustomerName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerAddress" class="col-sm-3 control-label no-padding-right">CustomerAddress</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtCustomerAddress" class="form-control" id="txtCustomerAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerMobile" class="col-sm-3 control-label no-padding-right">CustomerMobile</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtCustomerMobile" class="form-control" id="txtCustomerMobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCustomerEmail" class="col-sm-3 control-label no-padding-right">CustomerEmail</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtCustomerEmail" class="form-control" id="txtCustomerEmail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtPaymentMethod" class="col-sm-3 control-label no-padding-right">Payment Method</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtPaymentMethod" class="form-control" id="txtPaymentMethod">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtCreateDate" class="col-sm-3 control-label no-padding-right">CreateDate</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtCreateDate" class="form-control" id="txtCreateDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtModifyDate" class="col-sm-3 control-label no-padding-right">ModifyDate</label>
                            <div class="col-sm-9">
                                <input type="text" name="txtModifyDate" class="form-control" id="txtModifyDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtBillStatus" class="col-sm-3 control-label no-padding-right">BillStatus</label>
                            <div class="col-sm-9" id="txtBillStatus">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtHelperCheck" class="col-sm-3 control-label no-padding-right">Helper Check</label>
                            <div class="col-sm-9" id="txtHelperCheck">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ckStatus" class="col-sm-3 control-label no-padding-right">Status</label>
                            <div class="col-sm-9">
                                <div class="checkbox" style="border-style:none; padding-top: 8px">
                                    <label>
                                        <input type="checkbox" id="ckStatus">
                                        <span class="text">Active.</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Bill Status -->
<script id="table-template-billstatus" type="x-tmpl-mustache">
    <p style="margin-bottom: unset; margin-top: 7px">{{{billstatus}}}</p>    
</script>


<!-- Helper Check -->
<script id="table-template-helpercheck" type="x-tmpl-mustache">
    <p style="margin-bottom: unset; margin-top: 7px">{{{firstcheck}}}   {{{secondcheck}}}   {{{thirdcheck}}}   {{{cancel}}}</p>   
</script>