
@{
    ViewData["Title"] = "Customer";
}


@section Styles {

    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/admin-side/controller/FixCss/FixTh.css" rel="stylesheet" />

}

@section Scripts {

    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/admin-side/controller/customer/index.js"></script>
    <script src="~/admin-side/controller/customer/avatarmanagement.js"></script>
    <script>
        loadData();
        registerEvents();
        manageimages();
    </script>

}


<div class="page-title">
    <div class="title_left">
        <h3>Customer <small>List customers</small></h3>
    </div>
    <div class="title_right">

        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
            <input type="text" id="txtBirthDay" name="txtBirthDay" class="form-control" placeholder="BirthDay">
        </div>

    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="index_thead_th">UserName</th>
                            <th class="index_thead_th">FullName</th>
                            <th class="index_thead_th">Email</th>
                            <th class="index_thead_th">PhoneNumber</th>
                            <th class="index_thead_th">BirthDay</th>
                            <th class="index_thead_th">Address</th>
                            <th class="index_thead_th">Status</th>
                            <th class="index_thead_th" width="15%">Function</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>

                <!--Pagination-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPage">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    Record/Page.
                                </span>
                                Total records: <strong id="lblTotalRecords"></strong>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{username}}</td>
        <td>{{fullname}}</td>
        <td>{{email}}</td>
        <td>{{phonenumber}}</td>
        <td>{{birthday}}</td>
        <td>{{address}}</td>
        <td>{{{status}}}</td>
        <th scope="row">
            <button class="btn btn-info btn-sm btn-images" data-id="{{Id}}"><i class="fa fa-image"></i></button>
            <button class="btn btn-primary btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </th>
    </tr>
</script>


@await Html.PartialAsync("_EditCustomer.cshtml")

@await Html.PartialAsync("_AddEditAvatar.cshtml")